<nav class="navbar navbar-expand-lg py-0">
  <div class="container py-lg-7 py-4 border-bottom">
    <a class="navbar-brand text-neutral-500" href="index.html"><h1>Vivre</h1></a>
    <button class="navbar-toggler border-0 text-black" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-4" id="navbarSupportedContent">
      <form class="d-flex me-auto search-form" role="search">
          <input class="form-control me-2 rounded-pill border-gray-20" type="search" placeholder="搜尋文章" aria-label="Search">
          <button class="btn btn-sm search-btn text-accent-200" type="submit"><i class="bi bi-search"></i></button>
      </form>
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item me-4 mb-5 mb-lg-0 mt-5 mt-lg-0">
          <!-- <a class="nav-link active" aria-current="page" href="#">所有文章</a> -->
          <a class="nav-link" aria-current="page" href="#">所有文章</a>
        </li>
        <li class="nav-item me-4 mb-5 mb-lg-0">
          <a class="nav-link" href="case.html">訂閱方案</a>
        </li>
        <li class="nav-item me-4 mb-7 mb-lg-0">
          <a class="nav-link" href="#">關於我們</a>
        </li>
        <li class="nav-item">
          <a href="login.html"><button class="btn btn-accent-200 text-white" type="button">登入 / 註冊</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>